spring:
  config:
    import: optional:configserver:http://localhost:8888
  application:
    name: discovery
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  lifecycle:
    timeout-per-shutdown-phase: 30s

server:
  shutdown: graceful
